<%- include('../partials/client_header') -%>    
<%- include('../partials/client_navbar') -%>
      
        <!-- Header-->
        <header class="bg-dark py-5">
            <div class="container px-5">
                <div class="row gx-5 justify-content-center">
                    <div class="col-lg-6">
                        <div class="text-center my-5">
                            <h1 class="display-5 fw-bolder text-white mb-2">شركة السفير لخدمات التوظيف</h1>
                            <p class="lead text-white-50 mb-4">انضم لأفضل الفرص!  تساعدك على العثور على الوظيفة المثالية بسرعة واحترافية.</p>
                            <div class="d-grid gap-3 d-sm-flex justify-content-sm-center">
                                <a class="btn btn-primary btn-lg px-4 me-sm-3" href="#contact">ارسل معلوماتك ودعنا نتواصل معك</a>
                                <a class="btn btn-outline-light btn-lg px-4" href="/jobs_list">قائمة الوظائف</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- Features section-->
        <section class="py-5 border-bottom" id="features">
            <div class="container px-5 my-5">
                <div class="row gx-5">
                    <div class="col-lg-4 mb-5 mb-lg-0">
                        <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i class="bi bi-collection"></i></div>
                        <h2 class="h4 fw-bolder">نساعدك لايجاد الوضيفة المناسبة</h2>
                        <p>نساعدك في العثور على الوظيفة المثالية التي تتناسب مع مهاراتك وطموحاتك، لتبدأ مسيرتك المهنية بثقة ونجاح.</p>
                    </div>
                    <div class="col-lg-4 mb-5 mb-lg-0">
                        <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i class="bi bi-building"></i></div>
                        <h2 class="h4 fw-bolder">اذا كنت صاحب شركة</h2>
                        <p>نعمل معك للعثور على أفضل المواهب التي تلبي احتياجات شركتك، لنساعدك في بناء فريق عمل قوي ومميز.</p>
                       
                    </div>
                    <div class="col-lg-4">
                        <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i class="bi bi-toggles2"></i></div>
                        <h2 class="h4 fw-bolder">الثقة المتبادلة</h2>
                        <p>ندعمك بثقة؛ لا نأخذ أي رسوم حتى نتأكد من نجاحك في الحصول على وظيفة مناسبة أو توظيف موظفك المثالي.</p>
                        
                    </div>
                </div>
            </div>
        </section>
        <!-- Pricing section-->
      
        <!-- Testimonials section-->
        <section class="py-5 border-bottom" id="customers_review">
            <div class="container px-5 my-5 px-5">
                <div class="text-center mb-5">
                    <h2 class="fw-bolder">اراء الزبائن</h2>
                    <p class="lead mb-0"></p>
                </div>
                <div class="row gx-5 justify-content-center">
                    <div class="col-lg-6">
                        <!-- Testimonial 1-->
                        <div class="card mb-4">
                            <div class="card-body p-4">
                                <div class="d-flex">
                                    <div class="flex-shrink-0"><i class="bi bi-chat-right-quote-fill text-primary fs-1"></i></div>
                                    <div class="ms-4">
                                        <p class="mb-1">هالشركة فعلاً تسهّل عليك الحصول على شغل يناسبك. تعاملهم راقي ويهتمون بكل تفاصيل التقديم، ويدلوك على الفرص اللي تناسب مهاراتك.</p>
                                        <div class="small text-muted">- اسم الزبون, احمد</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Testimonial 2-->
                        <div class="card">
                            <div class="card-body p-4">
                                <div class="d-flex">
                                    <div class="flex-shrink-0"><i class="bi bi-chat-right-quote-fill text-primary fs-1"></i></div>
                                    <div class="ms-4">
                                        <p class="mb-1">جربت وياهم وشفت الفرق، يساعدوك بلقاءات سريعة وأهم شي ما ياخذون فلوس إلا بعد ما تضمن الشغل. صراحة خدمة ممتازة</p>
                                        <div class="small text-muted">- اسم الزبون, عماد</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Contact section-->
        <section class="bg-light py-5" id="contact">
            <div class="container px-5 my-5 px-5">
                <div class="text-center mb-5">
                    <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i class="bi bi-envelope"></i></div>
                    <h2 class="fw-bolder">أرسل معلوماتك</h2>
                    <p class="lead mb-0">سنتواصل معك عندك اتاحة الوضيفة المناسبة لخبراتك</p>
                </div>
                
                <div class="row gx-5 justify-content-center">
                    <%- include('../partials/flashMessages') -%>      

                    <div class="col-lg-6">
                        <form  action="/addClientForm" method="post"  enctype="multipart/form-data" >
                            <!-- Name input-->
                            <div class="form-group">
                                <label for="title">أدخل الاسم الثلاثي</label>
                                <input type="text" name="c_name" id="c_name" class="form-control" required/>
                                
                                    
                               
                            </div>
            
                            <div class="form-group">
                                <label for="title">رقم الهاتف</label>
                                <input type="text" name="c_tel" id="c_tel" class="form-control" required>
                            </div>
            
                            <div class="form-group">
                                <label for="c_address">العنوان</label>
                                <input type="text" name="c_address" id="c_address" class="form-control">
                                
                            </div>
            
            
                                        
                                        
                            <div class="form-group">
                                <label for="location">تاريخ الولادة</label>
                                <input type="text" name="c_birth_Date" id="c_birth_Date" class="form-control">
                            </div>
                          
            
                                <div class="form-group ">
                                    <label for="location">التحصيل الدراسي </label>
                                    <input type="text" name="c_study1" id="c_study1" class="form-control">
                                </div>
                                
                               
                                
                            <div class="row">
            
                               
                            </div>
                         
                            <div class="row">
            
                                <div class="col-md-6 ">
                                    <label for="location">الحالة الاجتماعية</label>
                                    <select class="form-control" id="c_social_status" name="c_social_status">
                                        <option>متزوج/متزوجة</option>
                                        <option>اعزب</option>
                                        <option>متزوج</option>
                                        <option>مطلق</option>
                                        <option>باكر</option>
                                        <option>ارمل</option>
                                        <option>متزوجة</option>
                                        <option>مطلقة</option>
                                        <option>ارملة</option>
                                        <option>باكرة</option>
                                      </select>
                                </div>
                                
                                <div class="col-md-6">
                                    <label for="location">الجنس</label>
                                    <select class="form-control" id="c_sex" name="c_sex">
                                        <option>ذكر</option>
                                        <option>انثى</option>
                                        
                                      </select>
                                </div>
                            </div>
            
                                
                               
                      
            
                            <hr>
            
                            <div class="row">
            
                                <div class="form-group">
                                    <label for="location">الخبرات</label>
                                    <input type="text" name="exper_name" id="exper_name" class="form-control">
                                </div>
                                
                            
            
                           
                            <div class="form-group">
                                <label for="location">الملاحضات</label>
                                <input  type="text" name="c_note" id="c_note" class="form-control">
                            </div>

                            <div class="form-group">
                                <label for="location">صورة شخصية</label>
                                <input  type="file" name="image" id="image" class="form-control">
                            </div>
            
                            
            
                             <input type="hidden" name="isJob" id="isJob" value="كلا">
                             <input type="hidden" name="job_id" id="job_id" value="0">

                            <div class="d-grid"><button class="btn btn-primary btn-lg"  type="submit">أرسال</button></div>
            
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </section>
        <!-- Footer-->
     
        <%- include('../partials/client_footer') -%>
