<%- include('../partials/client_header') -%>
<%- include('../partials/client_navbar') -%>



<div class="alert alert-success" role="alert">
    تمت ارسال الطلب بنجاح <a href="/" class="alert-link">اضغط هنا</a> للعودة الى القائمة الرأيسية
  </div>
        
       
                
