<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-rtl/dist/css/bootstrap-rtl.min.css">
    <nav class="navbar navbar-expand-lg " style="background-color:#194769">
        <a class="navbar-brand" href="/events" style="color: honeydew">AMC Groups</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item active">
              <a class="nav-link" href="/events/Workers" style="color: honeydew">الاسماء <span class="sr-only">(current)</span></a>
            </li>
            
            <li class="nav-item">
              <a class="nav-link" href="/events/sent_list"style="color: honeydew">الاسماء المرسلة</a>
            </li>
              <li class="nav-item">
                  <a class="nav-link" href="/events/jobs_list"style="color: honeydew">الوضائف</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="/events/comps_list"style="color: honeydew">الشركات</a>
              </li>

              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false" style="color: honeydew;">اضافة</a>
                <div class="dropdown-menu">
                  <a class="dropdown-item" href="/events/addWorker">اسم</a>
                  <a class="dropdown-item" href="/events/addComp">شركة</a>
                  <a class="dropdown-item" href="/events/addJob">وضيفة</a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="#">Separated link</a>
                </div>
              </li>
             
          </ul>
          <ul class="navbar-nav ml-auto">

            <% if (!user) { %>
              <li class="nav-item active">
                <a class="nav-link" href="/users/login"style="color: honeydew"> Login</a>
              </li>

              <li class="nav-item active">
                  <a class="nav-link" href="/users/signup"style="color: honeydew"> Signup</a>
                </li>

              <% } else { %>
              <li class="nav-item active">
                <a class="nav-link" href="/users/logout"style="color: honeydew"> logout</a>
              </li>
              <%}  %>
       
          </ul>
        </div>
      </nav>