<%- include('../partials/header') -%>
<%- include('../partials/navbar') -%>
<div class="container">
    <div class="row mt-4">
        
           

    </div>
    
    
</div>

    
<%- include('../partials/footer') -%>